.separator
{
    width:100%;

}
@media (min-width: 992px){
    .col-lg-9{
        flex: none !important;
        max-width: 100% !important;
    }
}

.product-left
{
    width: 75%;
    float: left;
}

.product-right
{
    width: 25%;
    float: right;
    margin-top: 183px;
}