.separator
{
    width:100%;

}


.product-left
{
    width: 75%;
    float: left;
}

.product-right
{
    width: 25%;
    float: right;
    margin-top: 183px;
}

.footer-text-align
{
    text-align: justify;
}